
.mainDiv{
height: 100vh;
width: 100vw;
overflow-x: hidden;
scroll-behavior: smooth;
scroll-snap-type: y mandatory;
}

html {
  user-select: none;
  color: azure;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background-color: rgb(44, 43, 43);
  user-select: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;

}

.coverPage{
  background-image: url('./assets/herobg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.inputField{
  border:none;
  outline:none;
  
  margin:10px 0px;
  color:rgb(141, 9, 235);
  font-weight:500;
  padding: 10px 20px;
  border-radius: 20px;
}
.inputFieldMessage{
  border:none;
  outline:none;
  margin:10px 0px;
  color:rgb(141, 9, 235);
  font-weight:500;
  padding: 10px;
  border-radius: 5px;
}
.formDiv{
  background-color: rgba(158, 99, 203, 0.13);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border: 0px solid rgba(158, 99, 203, 0.13);
  border-radius: 20px;
}