
.mainDiv{
  position: relative;
  z-index: 0;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}
body{
  background-color: rgb(44, 43, 43);
  
}
.coverPage{
  background-image: url('./assets/herobg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}